body {
 /*background: url('bg3.jpg');*/
 background-size: cover;
 margin-left: 0;
 font-family: montserrat;
opacity: 1;
  /*background-image:url(bgimage.jpg);*/

}
h1{font-weight: 800;color: #fff;font-size: 4em}
h2{color: #aaa}
h4{font-weight: 600}

.card
{
	border-radius: 10px;
	opacity: 1;
}
.card-body h2{
	font-size: 2.5em;
	font-weight: 600;
	color: #000
}
.shadows{
	box-shadow: 0px 0px 10px #aaa;
}
.card-text{
	font-weight: 600;
	font-size:18px
}
.card-body .btn{
	font-weight: 600;
	font-size: 18px
}
.card-img-top{
	padding: 5px;
	max-height: 20rem;
	object-fit: cover;
	border-radius: 10px;
}
.round-20{
	border-radius: 10px;
}